*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  font-family: "Lexend", sans-serif;
}
.container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.navbar .logo {
  width: 60px;
  height: 60px;
}
.menu-icon {
  display: none;
}
.close-icon {
  display: none;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar .menu-item {
  display: flex;
  gap: 20px;
}
.navbar .menu-link {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(30 / 16);
}
.navbar .menu-item a {
  text-decoration: none;
  color: inherit;
}
.navbar .menu-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.3s linear;
}
.navbar .menu-item a:hover::after {
  width: 100%;
}
.navbar .menu-item a.active::after {
  width: 100%;
}
.vector-icon {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.about-title {
  margin-top: 94px;
  width: 254px;
  height: 88px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 116px;
  text-align: center;
}
.about-title h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(44 / 24);
}
.about-img {
  margin-top: 423px;
  width: 960px;
  height: 690px;
}
.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-desc {
  margin-top: 733px;
  width: 408px;
  height: 120px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  margin-left: auto;
  margin-right: auto;
}
.about-desc-short {
  width: 408px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  margin-top: 82px;
  margin-bottom: 454px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.content-footer {
  font-style: normal;
  margin-top: 63px;
  margin-bottom: 108px;
  font-size: 24px;
  line-height: calc(44 / 24);
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.content-footer a {
  width: 376px;
  height: 44px;
  text-decoration: none;
  color: inherit;
}
@media (max-width: 991.98px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .menu-icon {
    display: block;
    font-size: 40px;
  }
  .close-icon {
    display: none;
    font-size: 30px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 17px 18px;
  }
  .close-icon.show {
    display: block;
  }
  .menu-item {
    transition: all 0.3s linear;
  }
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .menu-item.show {
    top: 0;
  }
  .menu-link {
    width: 106px;
    color: inherit;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 15px 0 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .navbar .logo {
    width: 60px;
    height: 60px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .menu-icon {
    display: block;
    font-size: 40px;
  }
  .close-icon {
    display: none;
    font-size: 30px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 17px 18px;
  }
  .close-icon.show {
    display: block;
  }
  .menu-item {
    transition: all 0.3s linear;
  }
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .menu-item.show {
    top: 0;
  }
  .menu-link {
    width: 106px;
    color: inherit;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 15px 0 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .navbar .logo {
    width: 48px;
    height: 48px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-img {
    width: 100%;
    height: 100%;
  }
  .about-title {
    margin-top: 80px;
    margin-bottom: 90px;
    width: 236.02px;
    height: 62px;
  }
  .about-title h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(31 / 20);
  }
  .about-desc {
    width: 295px;
    height: 150px;
  }
  .about-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  .about-desc-short {
    margin-bottom: 186px;
    width: 295px;
    height: 30px;
  }
  .about-desc-short span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  .content-footer {
    width: 215px;
    height: 62px;
    text-align: center;
  }
  .content-footer a {
    margin-top: 66px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(31 / 20);
  }
}
@media screen and (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .menu-icon {
    display: block;
    font-size: 40px;
  }
  .close-icon {
    display: none;
    font-size: 30px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 17px 18px;
  }
  .close-icon.show {
    display: block;
  }
  .menu-item {
    transition: all 0.3s linear;
  }
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .menu-item.show {
    top: 0;
  }
  .menu-link {
    width: 106px;
    color: inherit;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 15px 0 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .navbar .logo {
    width: 48px;
    height: 48px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .about-img {
    width: 100%;
    height: 100%;
  }
  .about-title {
    margin-top: 80px;
    margin-bottom: 90px;
    width: 236.02px;
    height: 62px;
  }
  .about-title h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(31 / 20);
  }
  .about-desc {
    width: 295px;
    height: 150px;
  }
  .about-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  .about-desc-short {
    margin-bottom: 186px;
    width: 295px;
    height: 30px;
  }
  .about-desc-short span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  .content-footer {
    width: 215px;
    height: 62px;
    text-align: center;
  }
  .content-footer a {
    margin-top: 66px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(31 / 20);
  }
}
