*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  font-family: "Lexend", sans-serif;
}
.container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.navbar .logo {
  width: 60px;
  height: 60px;
}
.menu-icon {
  display: none;
}
.close-icon {
  display: none;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar .menu-item {
  display: flex;
  gap: 20px;
}
.navbar .menu-link {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(30 / 16);
}
.navbar .menu-item a {
  text-decoration: none;
  color: inherit;
}
.navbar .menu-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.3s linear;
}
.navbar .menu-item a:hover::after {
  width: 100%;
}
.navbar .menu-item a.active::after {
  width: 100%;
}
.vector-icon {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.cap-list {
  margin-top: 130px;
  display: flex;
  gap: 36px;
  justify-content: center;
  align-items: center;
  height: 46px;
}
.cap-item {
  height: 46px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(46 / 12);
}
.post-title-main {
  margin-top: 15px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  height: 86.24px;
  text-align: center;
}
.post-title-main h3 {
  width: 100%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: calc(37 / 24);
}
.post-img {
  width: 100%;
  height: 100%;
}
.post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-list {
  margin-top: 87px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 674px;
  margin-left: auto;
  margin-right: auto;
}
.post-list .post-content {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
}
.cap-list-footer {
  margin-top: 103px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  gap: 36px;
}
.cap-social {
  display: flex;
  gap: 36px;
}
.cap-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-decoration: none;
  color: inherit;
}
.cap-share .cap-link {
  font-weight: 400;
}
.page-list {
  margin-top: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.page-item {
  text-decoration: none;
  color: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(44 / 24);
  margin-bottom: 50px;
}
@media (max-width: 991.98px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .menu-icon {
    display: block;
    font-size: 40px;
  }
  .close-icon {
    display: none;
    font-size: 30px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 17px 18px;
  }
  .close-icon.show {
    display: block;
  }
  .menu-item {
    transition: all 0.3s linear;
  }
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .menu-item.show {
    top: 0;
  }
  .menu-link {
    width: 80px;
    color: inherit;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 15px 0 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .navbar .logo {
    width: 60px;
    height: 60px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .post-title-main {
    width: 295px;
    height: 93px;
  }
  .post-title-main h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: calc(31 / 20);
  }
  .post-img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .menu-icon {
    display: block;
    font-size: 40px;
  }
  .close-icon {
    display: none;
    font-size: 30px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 17px 18px;
  }
  .close-icon.show {
    display: block;
  }
  .menu-item {
    transition: all 0.3s linear;
  }
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .menu-item.show {
    top: 0;
  }
  .menu-link {
    width: 80px;
    color: inherit;
    margin-top: 10px;
  }
  .navbar {
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 15px 0 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .navbar .logo {
    width: 48px;
    height: 48px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .post-list {
    width: 400px;
  }
  .post-content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  .cap-list-footer {
    flex-direction: column;
  }
  .cap-social {
    gap: 20px;
  }
  .content-footer {
    height: 84px;
    width: 100%;
  }
  .page-list {
    gap: 10px;
  }
  .page-item {
    font-size: 16px;
    line-height: calc(30 / 16);
    margin-right: 10px;
  }
}
@media screen and (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .menu-icon {
    display: block;
    font-size: 40px;
  }
  .close-icon {
    display: none;
    font-size: 30px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 17px 18px;
  }
  .close-icon.show {
    display: block;
  }
  .menu-item {
    transition: all 0.3s linear;
  }
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .menu-item.show {
    top: 0;
  }
  .menu-link {
    width: 80px;
    color: inherit;
    margin-top: 10px;
  }
  .navbar {
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 15px 0 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .navbar .logo {
    width: 48px;
    height: 48px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .post-list {
    width: 295px;
  }
  .post-content {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  .cap-list-footer {
    flex-direction: column;
  }
  .cap-social {
    gap: 20px;
  }
  .content-footer {
    height: 84px;
    width: 100%;
  }
  .page-list {
    gap: 10px;
  }
  .page-item {
    font-size: 16px;
    line-height: calc(30 / 16);
    margin-right: 10px;
  }
}
