*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
body {
  font-family: "Lexend", sans-serif;
}
.container {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
.navbar .logo {
  width: 60px;
  height: 60px;
}
.menu-icon {
  display: none;
}
.close-icon {
  display: none;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navbar .menu-item {
  display: flex;
  gap: 20px;
}
.navbar .menu-link {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(30 / 16);
}
.navbar .menu-item a {
  text-decoration: none;
  color: inherit;
}
.navbar .menu-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: all 0.3s linear;
}
.navbar .menu-item a:hover::after {
  width: 100%;
}
.navbar .menu-item a.active::after {
  width: 100%;
}
.view-title {
  text-align: center;
  display: block;
  margin-top: 127px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 86px;
}
.view-title p {
  line-height: calc(37 / 24);
  font-size: 24px;
  width: 450px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}
.vector-icon {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.card-list {
  display: flex;
  margin-top: 95px;
  flex-wrap: wrap;
}
.card-item {
  width: calc(100% / 2 - 20px);
  margin: 10px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.card-top {
  max-width: 470px;
  height: 338px;
}
.card-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-category {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.card-category span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(46 / 12);
}
.card-content {
  margin-top: 15px;
}
.card-content p {
  overflow: hidden;
  width: 470px;
  height: 72px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(36 / 24);
  overflow: hidden;
  padding-right: 10px;
}
.card-btn button {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 10px 30px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: "Lexend", sans-serif;
}
.card-btn button:hover {
  background-color: black;
  color: #fff;
}
.card-content {
  max-width: 470px;
  font-size: 18px;
  font-weight: 500;
}
.pagi {
  display: flex;
  justify-content: center;
  margin-top: 108px;
  margin-bottom: 113px;
  max-width: 334px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
.pagi-item {
  font-family: "Lexend", sans-serif;
  list-style: none;
  margin: 0 20px;
  font-size: 20px;
  color: gray;
  cursor: pointer;
  transition: all 0.2s linear;
  font-weight: lighter;
}

.pagi-item.is-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagi-item:hover,
.pagi-item.is-active {
  color: black;
}
.content-footer {
  font-style: normal;
  margin-top: 63px;
  margin-bottom: 75px;
  font-size: 24px;
  line-height: calc(44 / 24);
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.content-footer a {
  width: 376px;
  height: 44px;
  text-decoration: none;
  color: inherit;
}
/* @media (max-width: 768.98px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .menu-icon {
    display: block;
    font-size: 30px;
  }
  .close-icon {
    display: none;
    font-size: 30px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 17px 18px;
  }
  .close-icon.show {
    display: block;
  }
  .menu-item {
    transition: all 0.3s linear;
  }
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .menu-item.show {
    top: 0;
  }
  .menu-link {
    width: 106px;
    color: inherit;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 15px 0 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .navbar .logo {
    width: 60px;
    height: 60px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-top {
    max-width: 100%;
  }
  .card-category {
    font-size: 13px;
  }
  .card-content {
    max-width: 100%;
  }
} */
@media (max-width: 991.98px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .menu-icon {
    display: block;
    font-size: 50px;
  }
  .close-icon {
    display: none;
    font-size: 40px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 17px 18px;
  }
  .close-icon.show {
    display: block;
  }
  .menu-item {
    transition: all 0.3s linear;
  }
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .menu-item.show {
    top: 0;
  }
  .menu-link {
    width: 106px;
    color: inherit;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 15px 0 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .navbar .logo {
    width: 60px;
    height: 60px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-list {
    flex-wrap: wrap;
  }
  .card-item {
    width: calc(100% / 2 - 20px);
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .menu-icon {
    display: block;
    font-size: 40px;
  }
  .close-icon {
    display: none;
    font-size: 30px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 17px 18px;
  }
  .close-icon.show {
    display: block;
  }
  .menu-item {
    transition: all 0.3s linear;
  }
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .menu-item.show {
    top: 0;
  }
  .menu-link {
    width: 106px;
    color: inherit;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 15px 0 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .navbar .logo {
    width: 48px;
    height: 48px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .view-title p {
    width: 198.18px;
    height: 93px;
    font-style: normal;
    font-size: 20px;
    line-height: calc(31 / 20);
  }
  .card-list {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
  .card-top {
    max-width: 100%;
  }
  .card-category {
    justify-content: space-between;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 40px;
  }
  .menu-icon {
    display: block;
    font-size: 40px;
  }
  .close-icon {
    display: none;
    font-size: 30px;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    padding: 17px 18px;
  }
  .close-icon.show {
    display: block;
  }
  .menu-item {
    transition: all 0.3s linear;
  }
  .menu-item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
  .menu-item.show {
    top: 0;
  }
  .menu-link {
    width: 106px;
    color: inherit;
    margin-top: 10px;
  }
  .navbar {
    margin-top: 0;
    width: 100%;
    height: 75px;
    align-items: center;
    padding: 15px 0 12px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .navbar .logo {
    width: 48px;
    height: 48px;
  }
  .navbar .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .view-title p {
    width: 198.18px;
    height: 93px;
    font-style: normal;
    font-size: 20px;
    line-height: calc(31 / 20);
  }
  .card-list {
    flex-direction: column;
  }
  .card-item {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
  .card-top {
    max-width: 100%;
  }
  .card-category {
    justify-content: space-between;
  }
  .card-content {
    width: 100%;
    height: auto;
  }
  .card-content p {
    width: 100%;
    font-size: 20px;
    height: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: calc(31 / 20);
  }
  .card-btn button {
    width: 100%;
    display: block;
  }
  .pagi {
    margin-top: 0;
    margin-bottom: 93px;
    max-width: 294px;
  }
  .pagi-item {
    font-size: 16px;
  }
  .content-footer {
    height: 62px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(31 / 20);
  }
}
